html, body {
	height: 100%;
	width: 100%;
}
#rightPane {
	width: 20%;
	margin-top: 230px;
	margin-bottom: -70px;
}
#map{
	margin-top: 230px;
 }
#nav {
	width: 40px;
	margin:0 auto;
	list-style:none;
}
#nav li {
	float:center;
}
#nav a {
	display:block;
	text-align:center;
	width:100px; /* fixed width */
	text-decoration:none; 
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
}
.video-container {
	position: relative;
}
video {
	height: auto;
	vertical-align: middle;
	width: 1000px;
	position: relative;
	left: 50%;
	margin-left: -500px;
}
iframe {
	height: 500px;
	vertical-align: middle;
	width: 1000px;
	position: relative;
	left: 50%;
	margin-left: -500px;
}
.overlay-desc{
	background: rgba(0,0,0,0);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
	font-family: 'Raleway',sans-serif;
	position: absolute;
	text-align: center;
	line-height: 70px;
	padding-right: 120px;
	padding-left: 120px;
	font-size: 3.5em;
}
#random {
	font-family: 'Raleway',sans-serif;
	position: relative;
	line-height: 20px;
	padding-right: 10px;
	padding-left: 320px;
	bottom: 150px;
}
#footer{
	width: 300px;
	height: 300px;
	background-size: cover;
	position: relative;
	bottom: -50px;
}