html, body {
	height: 100%;
	width: 100%;
}
.navbar {
	width: 1000px;
	left: 50%;
	margin-left: -500px;
}
#nav {
	width: 50px;
	margin:0 auto;
	list-style:none;
}
#nav li {
	float:center;
	padding-right: 80px;
}
#nav a {
	display:block;
	text-align:center;
	width:50px; /* fixed width */
	text-decoration:none; 
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
	position: relative;
}
.nav-item a:hover {
    color: #ffa900 !important;
    cursor: pointer;
}
.btn-group-sm>.btn, .btn-sm {
	background-color: white;
	color: #7e856a;
}
.btn-group-sm>.btn, .btn-sm:hover {
	background-color: #ffa900;
	color: white;
}
.video-container {
	position: relative;
}
video {
	height: auto;
	vertical-align: middle;
	width: 1000px;
	position: relative;
	left: 50%;
	margin-left: -500px;
}
iframe {
	height: 600px;
	vertical-align: middle;
	width: 1000px;
	position: relative;
	left: 50%;
	margin-left: -500px;
}
.overlay-desc{
	background: rgba(0,0,0,0);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
	font-family: 'Raleway',sans-serif;
	position: absolute;
	text-align: center;
	line-height: 70px;
	padding-right: 120px;
	padding-left: 120px;
	font-size: 3.5em;
	width: 800px;
}
#random {
	width: 475px;
	font-family: 'Raleway',sans-serif;
	position: relative;
	line-height: 20px;
	bottom: 290px;
	left: 65%;
	margin-left: -150px;
}
#footer{
	width: 220px;
	height: 220px;
	background-size: cover;
	position: relative;
	bottom: 70px;
	left: 69%;
	margin-left: -420px;
}
#champion{
	width: 220px;
	font-family: 'Raleway',sans-serif;
	color: #2ab3d0;
	font-size: 2.2em;
	position: relative;
	line-height: 40px;
	bottom: -110px;
	left: 64%;
	margin-left: -650px;
}
#line {
	height: 250px;
	width: 3px;
	position: relative;
	bottom: 500px;
	left: 62%;
	margin-left: -370px;
	background-color: #2ab3d0;	
}
#line2 {
	height: 130px;
	width: 3px;
	position: absolute;
	bottom: 150px;
	left: 62%;
	margin-left: -500px;
	background-color: #2ab3d0;	
}
#about {
	width: 750px;
	font-family: 'Raleway',sans-serif;
	font-size: 1.1em;
	color: grey;
	position: relative;
	bottom: 45px;
	left: 50%;
	margin-left: -300px;
}
#about2 {
	width: 450px;
	font-family: 'Raleway',sans-serif;
	font-size: 1.1em;
	color: grey;
	position: absolute;
	line-height: 20px;
	bottom: -420px;
	left: 50%;
	margin-left: -470px;
}
#about3 {
	width: 450px;
	font-family: 'Raleway',sans-serif;
	font-size: 1.1em;
	color: grey;
	position: absolute;
	line-height: 20px;
	bottom: -420px;
	left: 50%;
	margin-left: 30px;
}
#text {
	font-family: 'Raleway',sans-serif;
	font-size: 13.5px;
}

.esri-ui-bottom-left {
	position: absolute;
	left: -220px;
	top: 0px;
	z-index: 2;
	bottom: -15px;
}